@import url("image.css");

html { 
  background: url(../img/light.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
	font-family: Calibri, Helvetica, Arial;
}
h1{
	color:rgb(0,0,255);
}
h2{
	color:purple;
	padding: 5px;
}
h3{
	color:white;
	padding: 5px;
}
p{
	padding: 5px;
	color:rgb(255, 62, 206);
	text-align: justify;
}
a{
	color: green;
}
ul{
	color:red;
	list-style: none;
}
ul li a{
	color:red;
	text-decoration: none;
}
ul li a:hover{
	color:red;
	text-decoration: underline;
}
#container{
	width: 80%;
	height: 100%;
	margin: 0px auto;
}
#header{
	color: rgb(255,0,0);
	width:100%;
}
#navigation a{
	color: rgb(255, 62, 206);
	margin: 3px;
}
#navigation a:hover{
	color: rgb(255, 62, 206);
	margin: 3px;
	font-weight: bold;
}
#sidePanel{
	width: 14%; 
    height: 914px;
	margin-top: 13px;
	color:#FFFFFF;
	float: right;
}
#content{
	width: 85%; float: left;
	height:auto; margin-top: 5px;
}
#content-detail{
	width: 85%; float: right;
	height:595px; margin-top: 5px;
}
#footer{
	padding: 15px;
	color: #FFFFFF; font-size: 90%;
	text-align: center; clear: both;
	height: auto;
}
#relativeSide{
	position: relative;
	left: 50px;
	top: 50px;
}
#fixrad{
	position: fixed;
	left: 80px;
	top: 300px;
}