body{
	font-family: Calibri, Helvetica, Arial;
}
.logo{
	margin: 5px;
	border-radius: 10px;
}
h1{
	color:rgb(0,0,255);
}
h2{
	color:purple;
	padding: 5px;
}
p{
	padding: 5px;
	color:rgb(255, 62, 206);
}
a{
	color: green;
}
#container{
	width: 100%;
	height: 100%;
	border: solid 5px grey;
	margin: 0px;
}
#header{
	color: rgb(255,0,0);
	width:100%;
	background-color: #778CB3
}
#navigation a{
	color: rgb(255, 62, 206);
	margin: 3px;
}
#sidePanel{
	width: 14%; 
    height: 914px;
	margin-top: 5px;
	background-color: #778CB3;
	color:#FFFFFF;
	border:solid 3px blue;
}
#content{
	width: 85%; float: right;
	height:914px; margin-top: 5px;
	background-color: #A0AFCB;
	border:solid 3px blue;
}
#content-detail{
	width: 85%; float: right;
	height:595px; margin-top: 5px;
}
#footer{
	
	background-color: #F7CB33;
	padding: 15px;
	color: #000000; font-size: 90%;
	text-align: center; clear: both;
	border-top: 5px solid #FFFFFF;
}
#relativeSide{
	position: relative;
	left: 50px;
	top: 50px;
}
#fixrad{
	position: fixed;
	left: 80px;
	top: 300px;
}